@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
    word-break: break-word;
}

html,
body {
    background-color: #ffffff;
    font-family: 'Roboto';
}

.conteudo {
    display: flex;
    justify-content: center;
}

.page {
    width: 1051px;

}

.banner {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
}

.banner img {
    width: 174px;
    height: 43px;
}

.banner img:hover {
    cursor: pointer;
}

.container-page {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Design pagina1: */

.pagina1 {
    margin-top: 80px;
    display: flex;
    justify-content: start;
}

.pagina1 .small-button {
    display: flex;
    align-items: center;
}
.pagina1 .small-button:hover {
    cursor: pointer;
}

.pagina1 h1 {
    font-size: 23px;
    font-weight: 700;
}
.pagina1 .container-quizz{
    width: 1051px;
    display:flex;
    gap: 10px;
    overflow-x: scroll;
}

.pagina1 ion-icon {
    margin-left: 10px;
    width: 30px;
    height: 31px;
    color: #EC362D;
}

.button-container {
    width: 100%;
    height: 200px;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D4D4D4;
}

.button-container p {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.button-container div:first-of-type {
    width: 250px;
    height: 107px;
    padding: 20px;
    text-align: center;
}

.button-container button {
    width: 136px;
    height: 40px;
    border-radius: 20px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    color: #EC362D;
}

.pagina1 button {
    cursor: pointer;
}

.thumb {
    max-width: 340px;
    max-height: 181px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 15.5px;
    z-index: 1;
    border-radius: 5px;
}
.listaQuizz img:hover {
    cursor: pointer;
}

.thumb p {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    bottom: 10px;
    left: 18px;
    margin-right: 18px;

}

.thumb img {
    width: 340px;
    height: 181px;
    position: relative;
    z-index: -1;
    border-radius: 5px;

}

.background {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    max-width: 340px;
    max-height: 181px;
    border-radius: 5px;
}

.quizzList {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.quizzTodos {
    margin-top: 77px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}



/* Design pagina2: */
.tituloQuizz {
    width: 100%;
    height: 227px;
    position: relative;
    z-index: 1;
}

.caixaTituloQuizz {
    margin-top: 70px;
}

.caixaTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tituloQuizz p {
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    position: absolute;
    color: #FFFFFF;

}

.opaco {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57))
}

.tituloQuizz img {
    width: 100%;
    height: 227px;
    position: relative;
    z-index: -1;

}

.listaQuizz {
    margin-top: 70px;
}

.caixaQuizz {
    width: 759px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.perguntaQuizz {
    width: 700px;
    height: 138px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 28px;

}

.opcao img {
    width: 320px;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}

.opcao p {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 320px;
}

.vermelho {
    color: #FF4B4B;
}

.verde {
    color: #009C22;
}

.branco {
    opacity: 0.3;
}

.caixaResultado {
    width: 759px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    padding: 18px;
}

.resultado {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}

.resultado img {
    width: 364px;
    height: 273px;
    margin-top: 18px;
    margin-right: 18px;
}

.resultado p {
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    margin-top: 18px;
}

.tituloResultado {
    width: 100%;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC362D;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

}

.botao {

    width: 354px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.botao,.restart:hover {
    cursor: pointer;
}

.restart {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 45px;
}

/* Design pagina3: */

.pagina3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina3 h4 {
    color: #818181;
    margin-top: 8px;
    font-size: 21px;
}
.pagina3 h4:hover, .pagina3 .button, .button-container button:hover, .thumb:hover {
    cursor: pointer;
}

.pagina3 h1 {
    font-size: 23px;
    font-weight: 700;
}

.pagina3>h1 {
    margin-top: 140px;
    margin-bottom: 36px;
}

.caixa-defineQuizz {
    width: 600px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}

.caixa-pergunta,
.caixa-nivel {
    width: 600px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}

.gaveta-perguntas div,
.gaveta-niveis div {
    margin-top: 28px;
    margin-bottom: 24px;
}

.gaveta-perguntas .input-change {
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
}

.input-change p {
    margin-right: 5px;
}

.input-change:hover {
    color: red;
    cursor: pointer;
}

.caixa-pergunta input,
.caixa-defineQuizz input,
.caixa-nivel input {
    font-family: 'roboto';
    width: 564px;
    height: 42px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    font-size: 19px;
}
.caixa-pergunta input::placeholder,
.caixa-defineQuizz input::placeholder,
.caixa-nivel input::placeholder {
    font-style: italic;
    color: #BABABA;
}
.pagina3 .button {
    margin-top: 80px;
    width: 354px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gaveta-titulo {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.gaveta-titulo:hover {
    cursor: pointer;
}

.gaveta-titulo img {
    width: 26px;
    height: 23px;
}

.pagina3 .button:hover {
    cursor: pointer;
}

/* Funcoes com prioridade: */
.hidden {
    display: none;
}

/* Chrome, Safari, Edge, Opera  RETIRA ARROWS DO INPUT DE NUMERO*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox RETIRA ARROWS DO INPUT DE NUMERO*/
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 1100px) {
    .page {
        width: 100%;
    }
    .pagina3 input {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .pagina3 .caixa-defineQuizz, .pagina3 .caixa-pergunta, .caixa-nivel{
        width: 100%;
    }
}